*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333;
    overflow: hidden;
  
}

label
{
    position: relative;
    width:150px;
    height: 75px;
    background-color:#011627;
    border-radius: 10px;
    bottom: 75px;

}
label input{
    appearance: none;
}
label span{
    position: absolute;
    top:0;
    left:0;
    height:75px;
    width:75px;
    border:6px solid #011627;
    border-radius:15px;
    background-color:black;
    cursor: pointer;
    transition: all 0.5s;
}

label input:checked ~ span
{
    left:75px;
}

label span i
{
    padding:15px;
    font-size: 2em;
    color:gray;
    transition: all 0.5s;
}

label input:checked ~ span i{
   
    color:white;
    filter:drop-shadow(0 0 10px white)
    drop-shadow(0 0 20px white)
    drop-shadow(0 0 25px white);

}

.bulb
{
    position: absolute;
    pointer-events: none;
    width:300px;
    height: 300px;
    background-image: url("off.png");
    background-size: 250px;
    background-repeat: no-repeat;
    top:150px;
    transform: translateX(-40px);
    transition: all 0.5s;
}

label input:checked ~ .bulb
{
    background-image: url("on.png");
    filter:drop-shadow(0 0 10px yellow )
    drop-shadow(0 0 15px yellow )
    drop-shadow(0 0 25px yellow );
}